body {
    margin: 0;
    overflow-x: hidden;
    padding-top: 15vh;
}

#cards {
    width: 100vw;
    display: flex;
    gap: 1%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 12vw;
    height: 35vh;
    overflow: hidden;
    background-color: rgb(128, 128, 128);
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    background-size: cover;
    background-position: center;
    box-shadow:
        inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
        inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
        inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
        0 3rem 3rem rgba(0, 0, 0, 0.3),
        0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}

.card_bd.titulo h1 {
    position: absolute;
    bottom: 50px;
    left: 20px;
    margin: 0;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.card_bd.data h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}


.card h1 {
    font-size: 1.5em;
}

.card h3 {
    font-size: 1.2em;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

#all_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 2vh 2vw;
}

#scroll_cards {
    width: 85vw;
    margin: 7vh auto 0;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45vh;
    overflow-x: hidden;
}

#card {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 700ms;
    background: linear-gradient(43deg, rgb(255, 204, 112), rgb(200, 80, 192) 46%, rgb(65, 88, 208) 100%);
}

.att_button {
    position: absolute;
    top: 1vh;
    left: 20.3vh;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    width: 1.5vw;
    height: 3vh;
    cursor: pointer;
}

.att_button:hover {
    transform: scale(1.05, 1.1);
}

.att_button {
    transition: all ease-in-out 0.1s;
}

.del_button {
    position: absolute;
    top: 34.2vh;
    background-color: #ff0101;
    border: none;
    border-radius: 20px;
    width: 7vw;
    height: 2vh;
    cursor: pointer;
    box-shadow:
        inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
        inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
        inset 0 -0.4rem 0.9rem rgba(255, 0, 0, 0.5),
        0 3rem 3rem rgba(0, 0, 0, 0.3),
        0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}

.del_button:hover {
    transform: scale(1.2, 1.2);
}

.del_button {
    transition: all ease-in-out 0.1s;
}

#scroll_cards,
.scroll_card,
#add_cards,
#remove_cards,
#update_cards,
.att_button {
    box-shadow:
        inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
        inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
        inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
        0 3rem 3rem rgba(0, 0, 0, 0.3),
        0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}

#add_cards,
#remove_cards,
#update_cards {
    height: 55vh;
    width: 25vw;
    padding: 1vw;
    margin: 8.5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 2vh;
    background: white center/cover no-repeat;
    color: black;
    position: relative;
}

#add_cards h1,
#remove_cards h1,
#update_cards h1 {
    position: absolute;
    top: 2vh;
    left: 2vw;
    margin: 0;
    font-size: 1.4em;
    text-shadow: 2px 2px 8px rgba(70, 70, 70, 0.5);
}

.card h1 {
    font-size: 1.5em;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.form h1 {
    font-family: "Akatab", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.card h3 {
    font-size: 1.2em;
    position: absolute;
    bottom: 50px;
    left: 20px;
    margin: 0;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem;
    box-sizing: border-box;
}

.form label {
    font-weight: bold;
    font-size: 0.95rem;
    color: #333;
    font-family: "Akatab", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.form input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.form button {
    --primary: #73ff00;
    --neutral-1: #f7f8f7;
    --neutral-2: #e7e7e7;
    --radius: 14px;

    cursor: pointer;
    border-radius: var(--radius);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: 0 0.5px 0.5px 1px rgba(255, 255, 255, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    min-width: 200px;
    padding: 20px;
    height: 68px;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

.form button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
        0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 3px -3px rgba(0, 0, 0, 0.04);
}

.form button:active {
    transform: scale(1);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
        0 10px 3px -3px rgba(0, 0, 0, 0.2);
}

.form button:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--radius);
    border: 2.5px solid transparent;
    background: linear-gradient(var(--neutral-1), var(--neutral-2)) padding-box,
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45)) border-box;
    z-index: 0;
    transition: all 0.4s ease;
}

.form button:hover::after {
    transform: scale(1.05, 1.1);
    box-shadow: inset 0 -1px 3px 0 rgba(255, 255, 255, 1);
}

.form button::before {
    content: "";
    inset: 7px 6px 6px 6px;
    position: absolute;
    background: linear-gradient(to top, var(--neutral-1), var(--neutral-2));
    border-radius: 30px;
    filter: blur(0.5px);
    z-index: 2;
}

.state p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.state .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(1.25);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.state .icon svg {
    overflow: hidden;
}

/* Outline */
.outline {
    position: absolute;
    border-radius: inherit;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    inset: -2px -3.5px;
}

.outline::before {
    content: "";
    position: absolute;
    inset: -100%;
    background: conic-gradient(from 180deg,
            transparent 60%,
            white 80%,
            transparent 100%);
    animation: spin 2s linear infinite;
    animation-play-state: paused;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form button:hover .outline {
    opacity: 1;
}

.form button:hover .outline::before {
    animation-play-state: running;
}

/* Letters */
.state p span {
    display: block;
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
}

.form button:hover p span {
    opacity: 1;
    animation: wave 0.5s ease forwards calc(var(--i) * 0.02s);
}

.form button:focus p span {
    opacity: 1;
    animation: disapear 0.6s ease forwards calc(var(--i) * 0.03s);
}

@keyframes wave {
    30% {
        opacity: 1;
        transform: translateY(4px) translateX(0) rotate(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-3px) translateX(0) rotate(0);
        color: var(--primary);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(0) rotate(0);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px) translateX(5px) rotate(-90deg);
        color: var(--primary);
        filter: blur(5px);
    }

    30% {
        opacity: 1;
        transform: translateY(4px) translateX(0) rotate(0);
        filter: blur(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-3px) translateX(0) rotate(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(0) rotate(0);
    }
}

@keyframes disapear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(5px) translateY(20px);
        color: var(--primary);
        filter: blur(5px);
    }
}

/* Plane */
.state--default .icon svg {
    animation: land 0.6s ease forwards;
}

.form button:hover .state--default .icon {
    transform: rotate(45deg) scale(1.25);
}

.form button:focus .state--default svg {
    animation: takeOff 0.8s linear forwards;
}

.form button:focus .state--default .icon {
    transform: rotate(0) scale(1.25);
}

@keyframes takeOff {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
        transform: translateX(70px) rotate(45deg) scale(2);
    }

    100% {
        opacity: 0;
        transform: translateX(160px) rotate(45deg) scale(0);
    }
}

@keyframes land {
    0% {
        transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
        opacity: 0;
        filter: blur(3px);
    }

    100% {
        transform: translateX(0) translateY(0) rotate(0);
        opacity: 1;
        filter: blur(0);
    }
}

/* Contrail */
.state--default .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;
    left: -5px;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
}

.form button:focus .state--default .icon:before {
    animation: contrail 0.8s linear forwards;
}

@keyframes contrail {
    0% {
        width: 0;
        opacity: 1;
    }

    8% {
        width: 15px;
    }

    60% {
        opacity: 0.7;
        width: 80px;
    }

    100% {
        opacity: 0;
        width: 160px;
    }
}

.state {
    padding-left: 29px;
    z-index: 2;
    display: flex;
    position: relative;
}

.state--sent p {
    position: absolute;
    left: 1.5vh;
    top: -4.5vh;
}

.state--default span:nth-child(4) {
    margin-right: 5px;
}

.state--sent {
    display: none;
}

.state--sent svg {
    transform: scale(1.25);
    margin-right: 8px;
}

.form button:focus .state--default {
    position: absolute;
}

.form button:focus .state--sent {
    display: flex;
}

.form button:focus .state--sent span {
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.2s);
}

.form button:focus .state--sent .icon svg {
    opacity: 0;
    animation: appear 1.2s ease forwards 0.8s;
}


@keyframes appear {
    0% {
        background-color: #4CAF50;
        color: white;
        transform: scale(1);
    }

    50% {
        background-color: #2E7D32;
        color: yellow;
        transform: scale(1.1);
    }

    100% {
        background-color: #4CAF50;
        color: white;
        transform: scale(1);
    }
}

button.animate-send {
    animation: appear 0.8s forwards;
    cursor: wait;
}

@keyframes appear {
    0% {
        background-color: #4CAF50;
        color: white;
        transform: scale(1);
    }

    50% {
        background-color: #2E7D32;
        color: yellow;
        transform: scale(1.1);
    }

    100% {
        background-color: #4CAF50;
        color: white;
        transform: scale(1);
    }
}

.form button {
    margin-top: 0.7rem;
    padding: 0.6rem;
    border: none;
    color: rgb(32, 32, 32);
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    font-family: "Akatab", sans-serif;
    font-weight: 800;
    font-style: normal;
}