<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ADD/REMOV/EDIT Cards</title>
        <link rel="stylesheet" href="./../styles/cards.css">
    </head>
    <body>
        <div id="cards_scroll">
            <div class="card"></div>
        </div>
        <div class="add_cards">
            <div class="add_tittle">Titulo<input type="text"></div>
            <div class="add_date">Data<input type="text"></div>
            <div class="add_img">Img<input type="text"></div>
        </div>
        <div class="remove_cards">
            <div class="remv_tittle"></div>
            <div class="remv_date"></div>
            <div class="remv_img"></div>
        </div>
        <div class="update_cards">
            <div class="update_tittle"></div>
            <div class="update_date"></div>
            <div class="update_tittle"></div>
        </div>

    </body>
</html>